@import "common";

$--descriptions-prefix-cls: #{$--css-prefix}descriptions;

.#{$--descriptions-prefix-cls} {
  font-size: $--font-size-base;
  font-weight: $--font-weight-base;
  color: $--descriptions-text-color-primary;
  line-height: $--line-height-base;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $--margin-md;
  }

  &__title {
    font-size: $--font-size-medium;
    font-weight: $--font-weight-bold;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__label {
    display: inline-block;
    text-align: right;
  }

  &__content {
    color: $--descriptions-content-text-color;
  }

  &.is-vertical {
    .#{$--descriptions-prefix-cls} {
      &__content {
        display: block;
      }
    }
  }

  &--small {
    font-size: $--font-size-small;

    .#{$--descriptions-prefix-cls} {
      &__header {
        margin-bottom: $--margin-sm;
      }

      &__table {
        .#{$--descriptions-prefix-cls}__cell {
          padding-bottom: $--padding-xs;
        }
      }
    }
  }

  &--large {
    .#{$--descriptions-prefix-cls} {
      &__header {
        margin-bottom: $--margin-lg;
      }

      &__table {
        .#{$--descriptions-prefix-cls}__cell {
          padding-bottom: $--padding-md;
        }
      }
    }
  }

  &--huge {
    font-size: $--font-size-medium;

    .#{$--descriptions-prefix-cls} {
      &__header {
        margin-bottom: $--margin-hg;
      }

      &__table {
        .#{$--descriptions-prefix-cls}__cell {
          padding-bottom: $--padding-lg;
        }
      }
    }
  }
}
