@import "common";

$--ellipsis-prefix-cls: #{$--css-prefix}ellipsis;

.#{$--ellipsis-prefix-cls} {
  display: inline-block;

  &_line-clamp {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &.is-expand {
    cursor: pointer;
  }
}
