@import "common";

$--grid-prefix-cls: #{$--css-prefix}grid;
$--grid-item-prefix-cls: #{$--css-prefix}grid-item;
$--grid-border: 1px solid $--border-color-base;

.#{$--grid-prefix-cls} {
  display: grid;
  box-sizing: border-box;

  &.is-square {
    .#{$--grid-item-prefix-cls} {
      aspect-ratio: 1;
    }
  }

  &.is-center {
    .#{$--grid-item-prefix-cls} {
      align-items: center;
      justify-content: center;
    }
  }

  &.is-border {
    border-top: $--grid-border;
    border-left: $--grid-border;
    .#{$--grid-item-prefix-cls} {
      border-right: $--grid-border;
      border-bottom: $--grid-border;
    }
  }

  &.is-hover-shadow {
    .#{$--grid-item-prefix-cls} {
      &:hover {
        box-shadow: $--box-shadow-light;
      }
    }
  }
}
