@import "common/var";

@space-prefix-cls: ~"@{css-prefix}space";
@space-item-prefix-cls: ~"@{css-prefix}space-item";

.@{space-prefix-cls} {
  display: flex;
  &_vertical {
    flex-direction: column;
  }
  &_spacer {
    display: flex;
    align-items: center;
  }
}
