@import "common";

$--space-prefix-cls: #{$--css-prefix}space;
$--space-item-prefix-cls: #{$--css-prefix}space-item;

.#{$--space-prefix-cls} {
  display: flex;

  &.is-vertical {
    flex-direction: column;
  }

  &__spacer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
