/* Prefix
-------------------------- */
$css-prefix: "k-";

/* Color
-------------------------- */
$--color-primary: #409eff !default;
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
/// Font
$--color-text-primary: #303133 !default;
/// Background
$--background-color-base: #f5f7fa !default;
/// Border
$--border-base: #dcdfe6 !default;

/* Border
-------------------------- */
/// Radius
$--border-radius-base: 4px !default;
/// Box-shadow
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !default;
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12) !default;
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* Typography
-------------------------- */
/// Font
$--font-size-base: 14px !default;
$--font-size-large: 18px !default;
$--font-size-icon: 16px !default;
/// Line-height
$--line-height-base: 1.5 !default;

/* Padding
-------------------------- */
$--padding-base: 4px !default;
$--padding-xs: $--padding-base * 2 !default;
$--padding-sm: $--padding-base * 3 !default;
$--padding-md: $--padding-base * 4 !default;
$--padding-lg: $--padding-base * 6 !default;

/* Margin
-------------------------- */
$--margin-base: 4px !default;
$--margin-xs: $--margin-base * 2 !default;
$--margin-sm: $--margin-base * 3 !default;
$--margin-md: $--margin-base * 4 !default;
$--margin-lg: $--margin-base * 6 !default;

/* Notice-bar
-------------------------- */
$--notice-bar-background-color: #ecf5ff !default;

/* Tooltip
-------------------------- */
/// Background
$--tooltip-background-color: #303133 !default;
/// Z-index
$--index-tooltip: 2000 !default;
